# My files
/data_storage/aws.env 
/data_extraction/airflow.env
/data_extraction/api.env
/vault/scripts/secrets.txt
/vault/scripts/init-output.txt
/vault/data/
/shared-secrets/

# Visual studio defaults
__pycache__/
*.py[cod]
*$py.class
